*

# Ignore the entire WordPress installation.
/*

# Keep this ignore configuration tracked.
!/.gitignore


!/wp-content/
/wp-content/*

!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/alavi-form-engine/
!/wp-content/plugins/alavi-form-engine/*
!/wp-content/plugins/alavi-form-engine/**
/wp-content/plugins/alavi-form-engine/vendor

!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/ostadsho-child/
!/wp-content/themes/ostadsho-child/**


*.zip

